<!-- npm int -- yes
npm i express@4.18.1
npm i ejs@3.1.9
ejs language support
npm i bootstrap
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav') %>
     <div class="container mt-3">
        <h1>Anasayfa</h1>
         <div class="row">
             <div class="col-12">
                 <% urunler.forEach(urun => { %>
                    <% if (urun.isHome) { %>
                        <%- include("partials/product", urun) %>
                    <% } %> 
                 <% }) %>      
             </div>
         </div>
     </div>
</body>
</html>