<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="bg-warning">
    <h1><%= name %></h1>
    <img src="/images/<%= imageUrl %>" alt="" width="100">
    <p>Fiyat: <%= price %></p>
    <p>
        <% if (isActive) { %>
            <span>Ürün Satışta</span>
        <% } else { %>
            <span>Ürün Satışta Değil!!</span>
        <% } %>
    </p>
</body>
</html>